{% extends "base.html" %}

{% block content %}

<!-- Corrected static file path -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" 
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" 
        crossorigin="anonymous">
</script>

<script>
    // var socket = io();
    
    // // Automatically determine the correct base URL
    let isLocal = window.location.hostname === "127.0.0.1" || window.location.hostname === "localhost";

    // let socket = io(
    //     isLocal ? "http://127.0.0.1:5000" : "/flask_closed_loop_teaching",
    //     { path: isLocal ? "/socket.io/" : "/flask_closed_loop_teaching/socket.io/",
    //     transports: ['websocket', 'polling'],  // Ensures polling first, then WebSocket
    //     }
    // );

    
    // Create Socket.IO connection
    const socket = io({
        auth: {
            referrer: window.location.href
        },
        path: '/flask_closed_loop_teaching/socket.io',
        // path: '/socket.io',
        transports: ['websocket', 'polling'],
        reconnectionAttempts: 10,
        reconnectionDelay: 1000,
        reconnectionDelayMax: 10000,
        // timeout: 20000
        EIO: 4,  // Engine.IO protocol version
        extraHeaders: {
            "Accept": "application/json"
        },
        pingTimeout: 60000,   // 60 seconds (in milliseconds)
        pingInterval: 25000   // 25 seconds (in milliseconds)
    });

    setInterval(() => {
        if (socket.connected) {
            socket.emit('heartbeat', {timestamp: new Date().getTime()});
        }
    }, 10000); // Send heartbeat every 30 seconds

    // Print the socket connection details
    socket.on('connect', function () {
        console.log('Socket connected!');
        console.log('Socket URL:', socket.io.uri);
        console.log('Socket path:', socket.io.opts.path);
    });

    socket.emit("last_disconnect_page", { referrer: window.location.href });


    function go_to_waiting_page() {
        // Redirect to waiting_time.html before starting the study
        window.location.href = "{{ url_for('waiting_room') }}";
    }
</script>

<div id="container-instructions" class="text-center">

    {{ preamble | safe }}

    <div class="instructionsnav">
        <div class="row justify-content-between">
            <div class="col-xs-3">
                <!-- Previous button commented out -->
                {# 
                <button type="button" id="prev" 
                        onclick="window.location.href='{{ url_for('sandbox') }}'" 
                        value="previous" 
                        class="btn btn-primary btn-lg continue"> 
                    Previous <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
                #}
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" 
                        onclick="go_to_waiting_page()" 
                        class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>



{% endblock %}
