{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<div id="waiting_section" class="text-center">
    <h2>Waiting Room</h2>
    <hr />
    <p id="waiting" style="font-weight: bold; font-size: 24px;">Waiting for more members to join...</p>
</div>

<script>
    let socket = io();

    // Print the socket connection details
    socket.on('connect', function () {
        console.log('Socket connected!');
        console.log('Socket URL:', socket.io.uri);
        console.log('Socket path:', socket.io.opts.path);
    });

    // Emit event to join group and wait for other players
    socket.on("connect", function () {
        socket.emit("join group");
    });

    // Listen for updates about group members
    socket.on("group joined", function (data) {
        let num_members = data["num_members"];

        console.log("Number of members: " + num_members + " Max number of members: " + data['max_num_members']);
        localStorage.setItem("room_name", data["room_name"]);

        if (num_members === data['max_num_members']) {
            start_study();
        } else {
            let remaining = data['max_num_members'] - num_members;
            let display_text = "Waiting for " + remaining + " more member" + (remaining > 1 ? "s" : "") + "...";
            $("#waiting").html(display_text);
        }
    });

    socket.on("member left", (data) => {
        let member_left = data["member code"];
        setTimeout(() => {
            $("#waiting").html("Member " + member_left + " left. ");
        }, 500);
    });

    socket.on("force_logout", (data) => {
        console.log("Server forcefully logged out the user. Reason:", data.reason);
        alert(data.reason);
        let logoutUrl = "{{ url_for('logout_confirmation') }}?reason=" + encodeURIComponent(data.reason);
        window.location.href = logoutUrl;
    });

    addEventListener("beforeunload", (event) => {
        socket.emit("leave group temp");
    });

    function start_study() {
        localStorage.setItem("user input", "{}");
        localStorage.setItem("movement", "next");
        localStorage.setItem("survey", "-1");
        localStorage.setItem("attn1", "-1");
        localStorage.setItem("attn2", "-1");
        localStorage.setItem("attn3", "-1");
        localStorage.setItem("use1", "-1");
        localStorage.setItem("use2", "-1");
        localStorage.setItem("use3", "-1");
        localStorage.setItem("short answer", "");

        let data = {
            "survey": localStorage.getItem("survey"),
            "user input": JSON.parse(localStorage.getItem("user input")),
            "movement": localStorage.getItem("movement"),
            "attn1": localStorage.getItem("attn1"),
            "attn2": localStorage.getItem("attn2"),
            "attn3": localStorage.getItem("attn3"),
            "use1": localStorage.getItem("use1"),
            "use2": localStorage.getItem("use2"),
            "use3": localStorage.getItem("use3"),
            "short answer": localStorage.getItem("short answer")
        };

        socket.emit("next domain", data);
        socket.on("next domain is", function(data) {
            console.log("I have received next domain: ", data["domain"]);
            let url = "";
            if (data["domain"].length === 2) {
                if (data["domain"] == 'at') {
                    url = "{{ url_for('at_intro') }}";
                }
                if (data["domain"] == 'sb') {
                    url = "{{ url_for('sb_intro') }}";
                }
            } else {
                url = "{{ url_for('final_survey') }}";
            }
            window.location.href = url;
        });
    }
</script>

{% endblock %}
