{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../../static/css/style.css" type="text/css" />
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<div id="waiting_section" class="text-center">
    <h2>Waiting Room</h2>
    <hr />
    <p id="waiting" style="font-weight: bold; font-size: 24px;">Waiting for 3 more members...</p>
</div>

<script>
    let socket = io();

    // Emit event to join group and wait for other players
    socket.on("connect", function () {
        socket.emit("join group");
    });

    // Listen for updates about group members
    socket.on("group joined", function (data) {
        let num_members = data["num_members"];
        console.log("Number of members: " + num_members);
        if (num_members === 2) {
            // When 3 members have joined, start the study
            start_study();
        } else {
            // Update waiting message
            let remaining = 2 - num_members;
            let display_text = "Waiting for " + remaining + " more member" + (remaining > 1 ? "s" : "") + "...";
            $("#waiting").html(display_text);
        }
    });

    socket.on("member left", (data) => {
    let member_left = data["member code"];
    setTimeout(
      () => {
        $("#waiting").html("Member " + member_left + " left. ");
      },
      500
    );
    });

    addEventListener("beforeunload", (event) => {
    socket.emit("leave group temp");
    });

    // Function to start the study after waiting for all participants
    function start_study() {
        localStorage.setItem("user input", "{}");
        localStorage.setItem("movement", "next");
        localStorage.setItem("survey", "-1");
        localStorage.setItem("attn1", "-1");
        localStorage.setItem("attn2", "-1");
        localStorage.setItem("attn3", "-1");
        localStorage.setItem("use1", "-1");
        localStorage.setItem("use2", "-1");
        localStorage.setItem("use3", "-1");
        localStorage.setItem("short answer", "");

        socket.emit("next domain");
        socket.on("next domain is", function(data) {
            let url = "";
            if (data["domain"].length === 2){
                url = "/".concat(data["domain"], "_intro");
            } else {
                url = "final_survey";
            }
            window.location.href = url;
        });
    }
</script>

{% endblock %}
