{% extends "base.html" %} {% block content %}

<script src="/static/lib/jquery-min.js" type="text/javascript"> </script>
<script>
    var $jq = jQuery.noConflict();
    console.log($jq); // Debug: Testing the conflict-free jQuery reference
</script>
<script src="/static/lib/underscore-min.js" type="text/javascript"> </script>
<script src="/static/lib/backbone-min.js" type="text/javascript"> </script>
<script src="/static/lib/d3.v3.min.js" type="text/javascript"> </script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>


<script>
    let socket = io();

    function logout() {
        console.log("Logging out...");

        // Emit logout event
        socket.emit("logout_request");

        // Listen for logout response
        socket.on("logout_response", function(data) {
            console.log("Received response from backend:", data);
            if (data.reason) {
                let logoutUrl = "{{ url_for('logout_confirmation', _external=True) }}?reason=" + encodeURIComponent(data.reason);
                window.location.href = logoutUrl;
            } else {
                console.error("Logout failed: No redirect URL received");
            }
        });
    }
    
    // function logout() {
    //     $jq.getJSON('/logout', function callback(data) {
    //         window.location.href(data['url']);
    //     });
    // }

    // function logout() {
    // $jq.getJSON('/logout', function callback(data) {
    //     // Append the reason to the URL before redirecting
    //     window.location.href(data['url'] + "?reason=" + data['reason']);
    //     // Force refresh if being cached
    //     setTimeout(() => window.location.reload(true), 500);
    // });
    // }

    // function logout(reason = "complete") {
    //     console.log("Logging out... Reason:", reason);

    //     // Get the base URL dynamically
    //     let basePath = window.location.pathname.includes("/flask_closed_loop_teaching") 
    //         ? "/flask_closed_loop_teaching" 
    //         : "";

    //     // Redirect with the correct base path
    //     window.location.href = `${basePath}/logout?reason=${encodeURIComponent(reason)}`;
    // }

    console.log('In index.html');
</script>

<h1>Home</h1>

<p>Thank you for participating in our research study, and helping to advance research on how people can interact with robots!</p>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {% if completed %}
        <h3>Study Completed</h3>
        <hr class="my-4">
        <p class="lead">Our records indicate you have completed this study. Please enter the following one-time use code into Prolific and then press 'Submit' below to receive compensation. Do <i>not</i> press Submit before copying your code, as doing will log you out of the study interface.</p><br>
        <p class="lead" align="center">
            {{code}}
        </p>
        <br><br>
        <button class="btn btn-primary btn-lg w-100" onclick="logout()">Submit</button>
        {% else %}
        <h3>Begin Study</h3>
        <hr class="my-4">
        <p class="lead">Please complete the study by clicking below.</p>
        <p class="lead">
            <a href="{{ url_for('consent', _external=True) }}" class="btn btn-primary w-100">Continue</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}